a{
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight: bold;
    color:  #F4E06D;
}

body{
    color: #FFFFDE;
}

h1 {
    font-family: "Francois One";
    font-size: 3rem;
    line-height: 1;
    margin: 1.5rem 0;
    color:  #F4E06D;
}

h2 {
    font-family: "Francois One";
    font-size: 1.75rem;
    padding: 1rem 0;
    color: #F4E06D;
}

hr {
    border-top: 10px dotted #FF7396;
    margin: 75px auto;
    width: 9%;
}

i{
    font-size: 2rem;
}

p {
    font-family: "Montserrat";
    line-height: 1.5;
    color: #FFFFDE;
}

.car-image {
    max-width: 300px;
}

.card-header{
    color: black;
    font-weight: bold;
}

.card-text{
    color: black;
}

.contact-item{
    text-align: center;
}

.fa-facebook{
    color: #1E79EB;
}

.intro{
    text-align: justify;
}

.logo{
    height: 5rem;
    width: auto;
    z-index: 2;
}

.logo-intro{
    height: 200px;
    width: auto;
}

.nav-item{
    padding: 0 1rem;
}

.shrinker {
    padding: 3% 10%;
    background-color: #C499BA;
}

.welcome-image {
    margin-top: 100px;
    width: 100%;
}
